<!-- Footer -->
<footer class="bg-dark text-white py-2 border-top border-light">
    <div class="container text-center">
      <div class="row">
        <!-- Company Info -->
        <div class="col-md-4 mb-2">
          <h5>Company</h5>
          <p>123 Main St, Suite 400</p>
          <p>City, State, 12345</p>
        </div>
        <!-- Contact Info -->
        <div class="col-md-4 mb-2">
          <h5>Contact Us</h5>
          <p>Phone: +1 234 567 890</p>
          <p>Email: <a href="mailto:info@company.com" class="text-white">info@company.com</a></p>
        </div>
        <!-- Social Media -->
        <div class="col-md-4 mb-2">
          <h5>Follow Us</h5>
          <p>Instagram: smsatyourservice</p>
              <p>Twitter: smsatX</p>
          <a href="#" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <!-- Copyright Notice -->
      <p class="mb-0 mt-1">© 2024 Your Company. All Rights Reserved.</p>
    </div>
  </footer>
  